/* ================= GOOGLE FONTS =============== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");

@font-face {
	font-family: Berliana;
	src: url(/assets/fonts/Berliana\ Lovely.otf);
}

/* ================= VARIABLES CSS =============== */
:root {
	--header-height: 3.5rem;

	/* ======== Colors ========== */
	/* Color mode HSL(hue, saturation, lightness) */
	--first-color: #f2d41e;
	--first-color-alt: #f2a81e;
	--title-color: #fafafa;
	--text-color: #a7abb4;
	--text-color-light: ;
	--white-color: #fff;
	--body-color: #01000a;
	--container-color: #182334;

	/* ========== Fonts and Typography ============= */
	/*  .5rem = 8px | 1rem = 16px */
	--text-font: "Poppins", sans-serif;
	--title-font: "Ubuntu", sans-serif;
	--biggest-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/* ======== Font Weight =========== */
	--font-lighter: 300;
	--font-light: 400;
	--font-medium: 500;
	--font-semi-bold: 600;

	/* ========= Z Index =========== */
	--z-tooltip: 10;
	--z-fixed: 100;
}

/* Responsive Typography */
@media screen and (min-width: 968px) {
	:root {
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/* ============== BASE ============ */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1,
h2,
h3 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
	font-family: var(--title-font);
	line-height: 1.4;
}

ul {
	list-style: none;
	font-family: var(--title-font);
}

a {
	text-decoration: none;
	font-family: var(--title-font);
}

img {
	max-width: 100%;
	height: auto;
}

/* ============== REUSABLE CSS CLASSES =============== */
.container {
	max-width: 1024px;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.section {
	padding: 4.5rem 0 2rem;
}

.section__title {
	font-size: var(--h1-font-size);
	margin-bottom: 2.5rem;
	font-family: var(--title-font);
}

.subtitle {
	font-size: var(--smaller-font-size);
	color: var(--first-color);
	padding-left: 2rem;
	position: relative;
	display: flex;
	margin-bottom: 1.3rem;
}

.subtitle::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 2px;
	background-color: var(--first-color);
}

.main {
	overflow: hidden;
}

/* ================= HEADER & NAV MENU =============== */

/* Show menu */

/* Change background header */

/* Active link */

/* ============== HOME SECECTION ============== */

/* ================== ABOUT SECTION ==================== */

/* ============ BRANDS SECTION ================ */

/* =========== WHY SECTION ============= */

/* ============= POPULAR SECTION ============== */

/* ============= NEWSLETTER SECTION ============== */

/* ============ PRODUCT SECTION ================= */

/* Active product */

/* ============= DOWNLOAD SECTION =============== */

/* ============= FOOTER SECTION ================== */

/* ================= SCROLL BAR ================ */

/* ============ SCROLL UP ============== */

/* Show Scroll Up Button */

/* Selection Color */

/*=============== BREAKPOINTS ===============*/
/* For Small Devices */

/* For Medium Devices */

/* For Large Devices */

/* For Large Devices */
